
.env
test_server.py
main_gmail_gpt.py
static/index.html
static/index_meta_tags.html
static/index.html
static/index_origin_streamlit.html
static/index.html
static (not used)/index_origin_streamlit.html
static (not used)/index_meta_tags.html
main_gmail_gpt (not used).py
